.MockupsGallary {
    padding: 50px 60px;

    & .gallaryFrameCover{
        height:100vh;
        margin-top:3rem;

        & .gallaryFrame{
            height: 100%;
            width: 100%;
            border: none;
            border-radius: 0.25rem;
            background-color: var(--background-color);
        }
    }
}

@media screen and (max-width: 768px){
    .MockupsGallary{
        padding: 10px;
        margin-top: 6rem;
    }
}
