.sidebar{
    width: 420px;
    position: relative;
    
    & ul{
        list-style-type: none;        
        width: inherit;
        padding: 1.5rem;

        & li{
            padding: 30px 30px;
            margin-top: 0.5rem;
            border-radius: 0.5rem;
            // border:1px solid red;
            cursor: pointer;
            transition: all 0.5s ease-in-out;
            // border-left: 5px solid var(--background);            
            // animation: appear linear;
            // animation-timeline: view();
            // animation-range: entry 0 cover 40%;
            

            &:hover{
                background: var(--foreground);
                color: var(--background);
                // border-left-color: var(--background);
                
            }

            
        }

        & .selected{
            background: var(--foreground);
            color: var(--background);
            position: relative;            
        }
    }

    
}