.imageWrapper{
    width:450px;
    height:450px;
    border-radius:50%;
    margin:auto;
    box-shadow:5px 5px 10px var(--foreground);
    background: url('./assets/profile-image.jpeg') center no-repeat;
    background-size: 100%;
    
    
}

.pages{
    height: 100vh;
    overflow-y: auto;
    scroll-snap-type: y mandatory;

    & .page{
        height: 100vh;
        position: relative;
        scroll-snap-align: start;
    }

    & .abc{
        height: 100%;
        // border: 1px solid red;        
        // background: url('./assets/workexp-background.png') center no-repeat;
        // background-size: 100%;
        background: var(--foreground);;
        
        & .abc1{
            height: 100%;
            border: 1px solid pink; 
            // backdrop-filter: blur(2px);       
            position: relative;

            &::after, &::before{
                content: ' ';
                position: absolute;
                background-image: conic-gradient(transparent 50%, blue);
                top: 50%;
                left: 50%;
                height: 100%;
                width: 100%;
                transform: translate(-50%, -50%);
                z-index: -1;
                padding: 20px;
            }

            &::before{
                filter: blur(1.5rem);
                opacity: 0.5;
            }
        }
    }
}

@media screen and (max-width > 768px){
    
    
}

.sidebar{
    border:1px solid blue;
    width: 420px;
    position: relative;
    
    

    & ul{
        list-style-type: none;        
        width: inherit;
        padding: 1.5rem;

        & li{
            padding: 30px 30px;
            // border:1px solid red;
            cursor: pointer;
            transition: all 0.5s ease-in-out;
            border-left: 5px solid var(--background);            
            // animation: appear linear;
            // animation-timeline: view();
            // animation-range: entry 0 cover 40%;
            

            &:hover{
                background: var(--foreground);
                color: var(--background);
                border-left-color: var(--background);
                
            }
        }
    }
}



.floatAnimate{
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 15px); }
    to   { transform: translate(0, -0px); }    
}

